#set($layout = 'layout/blank.vm')


<div class="menu">

	<h4 id="" class="menu-closed">后台系统管理</h4>
	
		<ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/hr/list.htm" onclick="" target="main">员工管理</a>
    		</li>

		</ul>
		<ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/hr/role.htm" onclick="" target="main">角色管理</a>
    		</li>

		</ul>
		
    <h4 id="" class="menu-closed">生日查询</h4>
	<ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/birthday/listbyMonth.htm" onclick="reWrite($subMenu.id,$menu.id)" target="main">生日统计</a>
    		</li>
			<li>
    			<a href="#" onclick="reWrite($subMenu.id,$menu.id)" target="main">邮件祝福</a>
    		</li>
            
		</ul>
    <h4 id="" class="menu-closed">请假管理</h4>
	    <ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/leave/list.htm" onclick="reWrite($subMenu.id,$menu.id)" target="main">请假批准</a>
    		</li>
			<li>
    			<a href="#" onclick="reWrite($subMenu.id,$menu.id)" target="main">请假统计</a>
    		</li>
            
		</ul>
	<h4 id="" class="menu-closed">用款申请</h4>
	  <ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/applicationMoney/application.htm" onclick="reWrite($subMenu.id,$menu.id)" target="main">用款申请表</a>
    		</li>
            
		</ul>

</div>

<div style="display:none" class="menu">
    <h4>个人信息管理</h4>
	<ul>
		<li>
			<a href="$!{appServer}/staff/list.htm" target="main">个人信息管理</a>
		</li>
    </ul>
</div>