尊敬的$!{fullName}您好：
<br/>&nbsp;&nbsp;&nbsp;&nbsp;您可以通过手机号码或者电子邮箱登陆。
<br/>&nbsp;&nbsp;&nbsp;&nbsp;您的手机号码为：$!{mobile}
<br/>&nbsp;&nbsp;&nbsp;&nbsp;您的电子邮箱为：$!{email}
<br/>&nbsp;&nbsp;&nbsp;&nbsp;您的登陆密码为：$!{loginPassword}
<br/>&nbsp;&nbsp;&nbsp;&nbsp;为了您的账号以及资金安全，请妥善保管，请勿泄露。