#set($layout = 'layout/blank.vm')


<div class="menu">

	<h4 id="" class="menu-closed">22</h4>
	
		<ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/staff/list.htm" onclick="" target="main">12322</a>
    		</li>

		</ul>
		
		<h4 id="" class="menu-closed">22</h4>
	
		<ul id="" style="display:none">
    		<li>
    			<a href="$!{appServer}/login.htm" onclick="" target="main">12322</a>
    		</li>

		</ul>	


</div>

<div style="display:none" class="menu">
    <h4>个人信息管理</h4>
	<ul>
		<li>
			<a href="$!{appServer}/staff/list.htm" target="main">个人信息管理</a>
		</li>
    </ul>
</div>