#set($layout = 'layout/default.vm')
 <div class="search-box"">
    <form id="form" name="form" action="list.htm" method="get" >
        <table>
            <tr>
                <th>用户名</th>
                <td>
                    <input type="text" name="loginName" onKeyUp="this.value=this.value.trim()" id="serchUserName" maxlength="16" class="inp"></td>
                    <td>
                        <input type="submit" name="search" value="查询" class="but-61" />
                    </td>
</tr>
</table>
</form>
</div>
<div class="basic">
    <div class="tool">
        <span>
            <a href="add-init.htm" class="bt_add"  hidefocus="true" >新增</a>
        </span>
    </div>
	<div class="listbox" >
        <table class="list-table"  >
            <tr>
                <th>id</th>
            </tr>
            #if($!{page2} && ${page2.totalCount} > 0)
                #foreach($leave in $page2.getData())
                    <tr #if($!{velocityCount}%2 == 0) class="bg" #end>
                            <td>$!{leave.id}</td>
                    </tr>
                #end
                #else
                    <tr>
                        <td>
                            <p class="ts">没有结果</p>
                        </td>
                    </tr>
			#end
        </table>
		<div class="pages-box">
        #pager($page2, "form")
        </div>
		 <div class="clear"></div>
    </div>
</div>