#set($layout = 'layout/default.vm')


<style type="text/css">



.mybtn  {
     border:none;
     color:#C6D7EB;
    text-shadow:1px 1px 0 rgba(0,0,0,.5);
    cursor:pointer;
    
            width:100px;
        height:40px;
         -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        box-shadow:inset 0 0 0 1px #2185CF,inset 0 0 40px 5px rgba(0,0,0,.3),0 0 2px 1px rgba(0,0,0,.5);
        margin:10px 10px 20px;
        display:block;
        float:left;
        background:#2185CF;
        text-align:center;
        line-height:40px;
    
}
.mybtn:active {
    position:relative;
    top:1px;  
}

</style>
 <div class="search-box"">
  <input type="button"  class="mybtn"  onclick="location.href='$!{appServer}/birthday/listbyweek.htm'" value="未来七天" />
   <input type="button" class="mybtn"  onclick="location.href='$!{appServer}/birthday/listbyMonth.htm'" value="当前月份" />
</div>
<div class="basic">
    <div class="tool">

		
    </div>
	<div class="listbox" >
        <table class="list-table"  >
            <tr>
				<th>账号</th>
                <th>用户名</th>
				<th>邮箱</th>
				<th>电话</th>
				<th>生日</th>
				<th>操作</th>
            </tr>
			
            #if($!{page2} && ${page2.totalCount} > 0)
                #foreach($staff in $page2.getData())
                    <tr #if($!{velocityCount}%2 == 0) class="bg" #end>
                            <td>$!{staff.id}</td>
							<td>$!{staff.staffName}</td>
							<td>$!{staff.email}</td>
							<td>$!{staff.cellphone}</td>
							<td> $dateUtils.convertDateToString("yyyy-MM-dd", $!{staff.birthday})</td>
							<td class="link-td">
							<a href="$!{appServer}/birthday/sendEmail.htm?id=$!{staff.id}">邮件祝福</a>
                            </td>
						
                    </tr>
                #end
                #else
                    <tr>
                        <td>
                            <p class="ts">没有结果</p>
                        </td>
                    </tr>
			#end
					<form name="upload" method="post" action="$!{appServer}/simple/upload.htm" enctype="multipart/form-data">
                                            请选择文件：<input type="file" name="upfile" /><br/>
                                 <input type="submit" value="上传" />
                     </form>
				
				
			
        </table>
		<div class="pages-box">
        #pager($page2, "form")
        </div>
		 <div class="clear"></div>
    </div>
</div>